body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-sarabun: Sarabun;
  --font-convergence: Convergence;
  --font-holtwood-one-sc: "Holtwood One SC";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-77xl: 96px;

  /* Colors */
  --color-orange-100: #ffb03a;
  --color-orange-200: #ffad33;
  --color-orange-300: #f49a24;
  --color-dimgray: #626262;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #818080;
  --color-gray-300: rgba(0, 0, 0, 0.64);
  --color-whitesmoke-100: #f0f0f0;
  --color-whitesmoke-200: #eee;
  --color-darkorange: #f38507;
  --color-sandybrown: #ffc672;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-31xl: 50px;
}
