.view-list-full-contract-child,
.view-list-full-contract-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1920px;
  height: 135px;
}
.view-list-full-contract-item {
  top: 2041px;
  background-color: var(--color-gray-200);
  height: 334px;
}
.manage-property,
.ppc,
.recent-contract {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
}
.ppc {
  left: 0;
  font-size: var(--font-size-77xl);
  font-family: var(--font-holtwood-one-sc);
  color: var(--color-orange-300);
  width: 302px;
}
.manage-property,
.recent-contract {
  left: 383px;
  font-family: var(--font-convergence);
  width: 376px;
}
.recent-contract {
  top: 307px;
  left: 0;
  font-size: var(--font-size-29xl);
  width: 548px;
}
.manage {
  margin: 0;
}
.manage-full-contract-txt-container {
  line-break: anywhere;
  width: 100%;
}
.manage-full-contract {
  position: absolute;
  top: 0;
  left: 796px;
  font-family: var(--font-convergence);
  color: var(--color-darkorange);
  display: flex;
  align-items: center;
  width: 376px;
  height: 135px;
}
.add-button-child,
.rectangle-div,
.view-list-full-contract-inner {
  position: absolute;
  top: 210px;
  left: 48px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1345px;
  height: 92px;
}
.add-button-child,
.rectangle-div {
  top: 442px;
  left: 71px;
  background-color: var(--color-whitesmoke-200);
  width: 1778px;
  height: 300px;
}
.add-button-child {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 405px;
  height: 140px;
}
.add-full-contract {
  position: absolute;
  top: 5px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 376px;
  height: 135px;
}
.add-button {
  position: absolute;
  top: 186px;
  left: 1463px;
  width: 405px;
  height: 140px;
  font-family: var(--font-convergence);
}
.tnh-trng-bds {
  top: 607px;
  left: 1463px;
  justify-content: center;
  width: 376px;
  height: 135px;
}
.admin,
.bit-th-mt-container,
.tnh-trng-bds {
  position: absolute;
  display: flex;
  align-items: center;
}
.bit-th-mt-container {
  top: 445px;
  left: 536px;
  font-weight: 600;
  text-align: left;
  width: 912px;
  height: 300px;
}
.admin {
  top: 0;
  left: 1690px;
  font-family: var(--font-convergence);
  color: var(--color-orange-300);
  justify-content: center;
  width: 230px;
  height: 135px;
}
.rectangle-icon {
  position: absolute;
  top: 466px;
  left: 91px;
  border-radius: var(--br-11xl);
  width: 419px;
  height: 259px;
  object-fit: cover;
}
.border-color-icon {
  position: absolute;
  top: 483px;
  left: 1502px;
  width: 60px;
  height: 60px;
}
.delete-icon,
.group-child {
  position: absolute;
  top: 480px;
  left: 1688px;
  width: 65px;
  height: 65px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1778px;
  height: 300px;
}
.ang-x-l {
  position: absolute;
  top: 165px;
  left: 1392px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 376px;
  height: 135px;
}
.group-item {
  position: absolute;
  top: 24px;
  left: 20px;
  border-radius: var(--br-11xl);
  width: 419px;
  height: 259px;
  object-fit: cover;
}
.border-color-icon1,
.delete-icon1 {
  position: absolute;
  top: 41px;
  left: 1431px;
  width: 60px;
  height: 60px;
}
.delete-icon1 {
  top: 38px;
  left: 1617px;
  width: 65px;
  height: 65px;
}
.rectangle-parent {
  position: absolute;
  top: 442px;
  left: 71px;
  width: 1778px;
  height: 303px;
}
.d-n-cityland-container {
  position: absolute;
  top: 3px;
  left: 465px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 912px;
  height: 300px;
}
.group-div,
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 809px;
  left: 71px;
  width: 1778px;
  height: 303px;
}
.group-div,
.rectangle-container {
  top: 1179px;
}
.group-div {
  top: 1549px;
}
.person-icon,
.search-icon {
  position: absolute;
  top: 41px;
  left: 1688px;
  width: 50px;
  height: 50px;
}
.search-icon {
  top: 231px;
  left: 70px;
}
.b,
.search {
  display: flex;
}
.search {
  position: absolute;
  top: 210px;
  left: -200px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-convergence);
  color: var(--color-gray-300);
  align-items: center;
  justify-content: center;
  width: 854px;
  height: 92px;
}
.b {
  left: 856px;
  width: 59px;
}
.b,
.b1,
.b2,
.b3 {
  position: absolute;
  top: 1919px;
  font-size: var(--font-size-29xl);
  align-items: center;
  justify-content: center;
  height: 52px;
}
.b1 {
  left: 856px;
  display: none;
  width: 59px;
}
.b2,
.b3 {
  left: 985px;
  display: flex;
  width: 70px;
}
.b3 {
  left: 915px;
}
.ellipse-div,
.view-list-full-contract-child1 {
  position: absolute;
  top: 1923px;
  left: 807px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 50px;
  height: 50px;
}
.view-list-full-contract-child1 {
  left: 1065px;
}
.view-list-full-contract-child2 {
  position: absolute;
  top: 2291px;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1920px;
  height: 86px;
}
.copyright-by-firefly {
  position: absolute;
  top: 2314px;
  left: 1573px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-orange-100);
  text-align: left;
}
.navigate-next-icon,
.navigate-next-icon1 {
  position: absolute;
  top: 1925px;
  left: 1064px;
  width: 50px;
  height: 50px;
}
.navigate-next-icon1 {
  left: 805px;
}
.view-list-full-contract-child3 {
  position: absolute;
  top: 2051px;
  left: 120px;
  width: 754px;
  height: 240px;
  object-fit: cover;
}
.view-list-full-contract {
  position: relative;
  background-color: var(--color-orange-200);
  width: 100%;
  height: 2375px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-sarabun);
}
a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}
